---
layout: default
title: Home
---

<div class="posts">
  {% for post in paginator.posts %}
  <article class="post">

  {% if post.categories contains 'poem' %}
    <div class="post-title">
      <a href="{{ post.url | relative_url }}">
      </a>
    </div>
  {% else %}
    <h1 class="post-title">
      <a href="{{ post.url | relative_url }}">
        {{ post.title }}
      </a>
    </h1>
  {% endif %}

  {{ post.content }}
  </article>
  {% endfor %}
</div>
<div style="text-align:right;">
  {% if paginator.next_page %}
  <a href="{{ paginator.next_page_path | relative_url }}">older</a>
  {% else %}
  <span>older</span>
  {% endif %}
  <span>|</span>
  {% if paginator.previous_page %}
  <a href="{{ paginator.previous_page_path | prepend: relative_url }}">newer</a>
  {% else %}
  <span>newer</span>
  {% endif %}
</div>